strict-ssl=false
proxy=http://localhost:7890
https-proxy=http://localhost:7890
registry=http://registry.npmjs.org/

# npm cn mirror
# registry=https://registry.npmmirror.com

# tencent mirror
# registry=https://mirrors.cloud.tencent.com/npm/
# strict-ssl=false